fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
httpx==0.28.1
numpy==2.2.6
opencv-python-headless==4.12.0.88
insightface==0.7.3
onnxruntime-gpu[cudnn]==1.22.0
pydantic-settings==2.10.1
pytest==8.4.1
